# Ignore files for C# projects
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.cache
*.pdb
*.mdb
*.exe
*.dll
*.log
*.vs/
.vscode/
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

# Ignore files for Java projects
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.log
*.out
*.swp
*.swo
*.bak
*.tmp
*.pid
*.seed
*.orig
*.rej
*.class
*.project
*.classpath
*.settings/
target/
build/
out/
.idea/
*.iml
*.ipr
*.iws
.gradle/
build/
